:root {
    --padding: 7px;
    font-size: 1.2em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: teal;
}

* {
    box-sizing: border-box;
}

/* LAYOUT */

#root {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
}

#left-bar, #right-bar, #center-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#left-bar, #right-bar {
    width: 250px;
    padding: var(--padding);
}

#center-bar {
    flex: 1;
    padding: var(--padding) 0px;
}

/* BUTTON */

.button {
    display: block;
    position: relative;
    border-radius: 0;
    background: none;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: var(--padding);
    text-align: center;
}

.row .button {
    margin-right: var(--padding);
    flex: 1;
}

.row .button:last-child {
    margin-right: 0px;
}

.button:hover {
    text-decoration: underline;
}

.disabled {
    color: darkslategray;
    border-color: darkslategray;
}

.cooldown {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
}

/* BOX */

div:has(.box) {
    display: flex;
    flex-direction: column;
}

div.box {
    border: 1px solid black;

    padding: var(--padding);
    padding-bottom: 0px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
}

span.box {
    top: 5px;
    left: 14px;
    position: relative;
    
    margin-top: var(--padding);
}

span.box span {
    background-color: teal;
    padding: 0px 3px;
}

/* FLEX */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

/* POPUP */

#popup {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
}

#popc {
    margin: auto;
    background-color: teal;
    width: 300px;
    border: 2px solid black;
    padding: var(--padding);
}

/* P */

.p {
    padding-bottom: var(--padding);
}

.center {
    text-align: center;
}

.title {
    font-weight: bold;
    padding-top: 15px;
}

.b {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}

.title:first-child {
    padding-top: 0px;
}

.green {
    color: darkgreen;
    font-weight: bold;
    text-decoration: underline;
}

/* MISC */

.hide {
    display: none !important;
}

/* ANIM */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
.fade-in {
    animation: fadeIn 2s;
}